name: zxtools tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: [3.9, 3.12, 3.13, 3.14]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools pytest pytest-cov mock
        pip install -e .
    - name: Run tests
      run: |
        pytest --cov=zxtools --cov-report=term-missing
    - name: Upload coverage to Codecov
      run: bash <(curl -s https://codecov.io/bash)
      if: success()
